<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- For transpiling in browser -->
    <script src="../static/js/lib/babel.min.js"></script>

    <!-- Libraries -->
    <script src="../static/js/lib/react.js"></script>
    <script src="../static/js/lib/react-dom.js"></script>

    <!-- React components -->
    <script type="text/babel" src="../static/js/components/Navbar.js"></script>

    <!-- Styling -->
    <link rel="stylesheet" href="../static/styles/navbar.css">
</head>
<body>
    <div id="navbar"></div>
    <script type="text/babel" src="../static/js/scripts/index.js"></script>
</body>
</html>